body {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #562b81;
  color: white;
}

h1,
h2 {
  font-family: "Proza Libre", sans-serif;
}

header h2 {
  font-weight: normal;
}

label,
input,
textarea {
  width: 100%;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border: 2px solid #562b81;
  outline: none;
}

#image {
  border: none;
}

button {
  font-size: 1rem;
  color: white;
  background-color: #562b81;
  border-radius: 5px;
  border-style: none;
  padding: 0.5rem 0.75rem;
}

.entry-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.entry-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.item-image-cont {
  padding-bottom: 1rem;
}

li img {
  width: 100%;
}

.item-image {
  object-fit: cover;
  object-position: 50% 50%;
  border: none;
  border-radius: 5px;
}

.item-title {
  margin-top: 0;
}

#entries-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  padding-left: 1.75rem;
}
